In [2]:
import pandas as pd

In [4]:
# Faqat Name ustunini ajratib oling.
df1 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sami'],
    'Age': [24, 30, 22],
    'City': ['Tashkent', 'Bukhara', 'Andijan']
})

print(df1['Name'])

0     Ali
1    Vali
2    Sami
Name: Name, dtype: object

In [11]:
# Mahsulotlarning o‘rtacha narxini toping.
df2 = pd.DataFrame({
    'Product': ['Apple', 'Banana', 'Orange'],
    'Price': [1000, 2000, 1500]
})
print(df2['Price'].mean())

1500.0

In [13]:
# Har bir talabaga Total ustuni qo‘shing, u Math + English bo‘lsin.

df3 = pd.DataFrame({
    'Student': ['Aziz', 'Shox', 'Dildora'],
    'Math': [78, 85, 90],
    'English': [88, 75, 95]
})
df3['Total'] = df3['Math']+df3['English']
print(df3)

   Student  Math  English  Total
0     Aziz    78       88    166
1     Shox    85       75    160
2  Dildora    90       95    185

In [17]:
# Har bir shahar bo‘yicha o‘rtacha aholini hisoblang.

df4 = pd.DataFrame({
    'City': ['Tashkent', 'Tashkent', 'Bukhara'],
    'Population': [2500000, 2600000, 500000]
})

print(df4.groupby('City')['Population'].mean())

City
Bukhara      500000.0
Tashkent    2550000.0
Name: Population, dtype: float64

In [19]:
# Score ustunidagi NaN qiymatlarni 0 bilan to‘ldiring.

df5 = pd.DataFrame({
    'Name': ['Malika', 'Otabek', 'Nodir'],
    'Score': [None, 80, 95]
})
df5['Score'] = df5['Score'].fillna(0)
df5

     Name  Score
0  Malika    0.0
1  Otabek   80.0
2   Nodir   95.0

In [30]:
# Har bir ishchining umumiy daromadini (Salary + Bonus) hisoblang.
try:
    df6 = pd.DataFrame({
        'ID': [1, 2, 3],
        'Salary': [3000, 4000, 3500],
        'Bonus': [500, 700, 600]
    }) 
    print(df6.groupby('ID')['Salary'].sum()+df6.groupby('ID')['Bonus'].sum())
except Exception as e:
    print(e)

ID
1    3500
2    4700
3    4100
dtype: int64

In [31]:
# Score ≥ 80 bo‘lganlarni ajratib oling.
df7 = pd.DataFrame({
    'Name': ['A', 'B', 'C'],
    'Score': [90, 70, 80]
})
print(df7[df7['Score']>=80])

  Name  Score
0    A     90
2    C     80

In [33]:
# Date ustunini datetime formatiga o‘tkazing.
df8 = pd.DataFrame({
    'Date': ['2023-01-01', '2023-02-01', '2023-03-01'],
    'Sales': [100, 200, 150]
})
df8['Date']=pd.to_datetime(df8['Date'])
df8

        Date  Sales
0 2023-01-01    100
1 2023-02-01    200
2 2023-03-01    150

In [35]:
# Omborda mavjud mahsulotlarni ajratib oling.
df9 = pd.DataFrame({
    'Product': ['A', 'B', 'C'],
    'InStock': [True, False, True]
})
print(df9[df9['InStock']==True])

  Product  InStock
0       A     True
2       C     True

In [39]:
# A ustunini indeks sifatida belgilang.
df10 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
df10 = df10.set_index('A')
df10

   B
A
1  4
2  5
3  6

In [45]:
# Qiymatlar yig‘indisini hisoblang.
df11 = pd.DataFrame({
    'Region': ['North', 'South', 'East'],
    'Value': [100, 150, 120]
})
df11.sum()['Value']

370

In [47]:
# Yoshlari 25 dan kichiklarni tanlab oling.
df12 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sami'],
    'Age': [24, 30, 22]
})

df12[df12['Age']<25]

   Name  Age
0   Ali   24
2  Sami   22

In [48]:
# Har bir ism bo‘yicha o‘rtacha bahoni hisoblang.
df13 = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'A'],
    'Score': [80, 90, 85, 70]
})

df13.groupby('Name')['Score'].mean()

Name
A    75.0
B    90.0
C    85.0
Name: Score, dtype: float64

In [50]:
# Faqat faol foydalanuvchilarni ajrating.
df14 = pd.DataFrame({
    'User': ['a', 'b', 'c'],
    'Active': [False, True, True]
})

df14[df14['Active']==True]

  User  Active
1    b    True
2    c    True

In [51]:
# Harorat 30 dan yuqori bo‘lgan shaharlarni ajrating.
df15 = pd.DataFrame({
    'City': ['Tashkent', 'Andijan', 'Bukhara'],
    'Temp': [35, 28, 32]
})

df15[df15['Temp']>30]

       City  Temp
0  Tashkent    35
2   Bukhara    32

In [59]:
# Age ustunini kamayish tartibida tartiblash.
df16 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sami'],
    'Age': [24, 30, 22]
})
result = df16.sort_values(by='Age', ascending=False)
print(result)

   Name  Age
1  Vali   30
0   Ali   24
2  Sami   22

In [60]:
# A va B ustunlarining farqini hisoblang.
df17 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [3, 2, 1]
})

print(df17['A']-df17['B'])

0   -2
1    0
2    2
dtype: int64

In [68]:
# Narxi 150 dan katta bo‘lgan itemlarni chiqaring.
df18 = pd.DataFrame({
    'Item': ['X', 'Y', 'Z'],
    'Price': [100, 200, 150]
})

df18[df18['Price']>150]

  Item  Price
1    Y    200

In [72]:
# Har bir harfni ASCII kodi bilan birlashtirib yangi ustun yarating.
df19 = pd.DataFrame({
    'Letter': ['a', 'b', 'c'],
    'Code': [97, 98, 99]
})

df19['ADCII'] = df19['Letter']+df19['Code'].astype(str)
print(df19)

  Letter  Code ADCII
0      a    97   a97
1      b    98   b98
2      c    99   c99

In [75]:
# Eng ko‘p sotilgan mahsulotni aniqlang.
df20 = pd.DataFrame({
    'Product': ['A', 'B', 'C'],
    'Sold': [100, 200, 150]
})

print(df20[df20['Sold']==df20['Sold'].max()])

  Product  Sold
1       B   200

In [6]:
# students va scores DataFrame'larini id va student_id orqali birlashtiring.
students = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Ali', 'Vali', 'Sami']
})
scores = pd.DataFrame({
    'student_id': [1, 2, 3],
    'score': [85, 90, 78]
})

print(pd.merge(students, scores, left_on='id', right_on='student_id'))

   id  name  student_id  score
0   1   Ali           1     85
1   2  Vali           2     90
2   3  Sami           3     78

In [7]:
# Har bir talabaning o‘rtacha bahosini hisoblang (takroriy ismlar bo‘yicha).
df = pd.DataFrame({
    'name': ['Ali', 'Vali', 'Sami', 'Ali'],
    'score': [80, 85, 90, 95]
})
print(df.groupby('name')['score'].mean())

name
Ali     87.5
Sami    90.0
Vali    85.0
Name: score, dtype: float64

In [8]:
# query() funksiyasi yordamida umumiy balli 160 dan yuqori bo‘lganlarni ajrating.
df = pd.DataFrame({
    'name': ['Ali', 'Vali', 'Sami'],
    'math': [80, 85, 90],
    'eng': [70, 75, 85]
})

df.query('(math+eng)>160')

   name  math  eng
2  Sami    90   85

In [9]:
# Faqat 2024-01-03 sanadan keyingi ma'lumotlarni tanlang.

df = pd.DataFrame({
    'date': pd.date_range('2024-01-01', periods=5, freq='D'),
    'value': [10, 20, 30, 40, 50]
})

df.query("date > '2024-01-03'")

        date  value
3 2024-01-04     40
4 2024-01-05     50

In [11]:
# status == 'active' bo‘lganlar ustida filter() funksiyasidan foydalaning.
df = pd.DataFrame({
    'user': ['a', 'b', 'c'],
    'status': ['active', 'inactive', 'active']
})

df.query("status=='active'").filter(items=['user'])

  user
0    a
2    c

In [15]:
# Har bir foydalanuvchi bo‘yicha jami buyurtma summasini hisoblang.
orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4],
    'user_id': [101, 102, 101, 103],
    'amount': [250, 300, 150, 400]
})

orders.groupby('user_id')['amount'].sum()

user_id
101    400
102    300
103    400
Name: amount, dtype: int64

In [17]:
# Har bir mahsulot uchun yakuniy narxni hisoblang (Price - Discount%).

df = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D'],
    'Price': [1000, 2000, 1500, 3000],
    'Discount': [10, 20, 0, 15]
})

df['Salary']=df['Price']*df['Discount']
df

  Product  Price  Discount  Salary
0       A   1000        10   10000
1       B   2000        20   40000
2       C   1500         0       0
3       D   3000        15   45000

In [18]:
# Har bir Group bo‘yicha Score ustunini normallashtiring (min-max scaling).

df = pd.DataFrame({
    'Group': ['X', 'Y', 'X', 'Y'],
    'Score': [10, 20, 30, 40]
})

df.groupby('Group')['Score'].sum()

Group
X    40
Y    60
Name: Score, dtype: int64

In [31]:
# LoginTime ustunini datetime formatiga o‘tkazing va eng ertaroq kirgan foydalanuvchini aniqlang.
df = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sami'],
    'LoginTime': ['08:00', '09:15', '08:45']
})
df['LoginTime'] = pd.to_datetime(df['LoginTime'], format='%H:%M')
df['Name'].min()

'Ali'

In [34]:
# left va right DataFrame’larini outer join qilib birlashtiring.
left = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Ali', 'Vali', 'Sami']
})
right = pd.DataFrame({
    'ID': [2, 3, 4],
    'Grade': ['B', 'A', 'C']
})

pd.merge(left, right, left_on='ID', right_on='ID')

   ID  Name Grade
0   2  Vali     B
1   3  Sami     A

In [39]:

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
})
df.max(axis=1)

0    5
1    6
2    7
3    8
dtype: int64

In [40]:
# Manfiy balansga ega mijozlarni alohida DataFrame’da ajrating.

df = pd.DataFrame({
    'Customer': ['A', 'B', 'C'],
    'Balance': [1000, -50, 500]
})

df[df['Balance']<0]

  Customer  Balance
1        B      -50

In [41]:
# A == 'foo' bo‘yicha guruhlab B ustunining o‘rtacha qiymatini toping.

df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar'],
    'B': [1, 2, 3, 4]
})


df.groupby('A')['B'].mean()

A
bar    3.0
foo    2.0
Name: B, dtype: float64

In [43]:
# Ustunlar bo‘yicha (axis=0) va qatnashgan holda (axis=1) yig‘indilarni hisoblang.
df = pd.DataFrame({
    'x': [1, 2, 3],
    'y': [4, 5, 6],
    'z': [7, 8, 9]
})

df.sum(axis=0)

x     6
y    15
z    24
dtype: int64

In [48]:
# Har bir foydalanuvchining hozirgi yoshini hisoblang (hozirgi yilni hisobga olib).
import datetime

df = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sami'],
    'BirthYear': [2000, 1995, 1998]
})

df['Age']=datetime.date.today().year-df['BirthYear']
df

   Name  BirthYear  Age
0   Ali       2000   25
1  Vali       1995   30
2  Sami       1998   27

In [49]:
# Faqat mavjud (Qty > 0) itemlar sonini hisoblang.
df = pd.DataFrame({
    'Item': ['A', 'B', 'C', 'D'],
    'Qty': [10, 0, 5, 3]
})

df[df['Qty']>0].groupby('Item')['Qty'].count()

Item
A    1
C    1
D    1
Name: Qty, dtype: int64

In [57]:
import pandas as pd

df = pd.DataFrame({
    'Value': [10, None, 30, None, 50]
})

df['Value'].fillna(df['Value'].mean(), inplace=True)
print(df)

   Value
0   10.0
1   30.0
2   30.0
3   30.0
4   50.0

/tmp/ipykernel_31/1906185757.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(df['Value'].mean(), inplace=True)

In [ ]:
#